<div class="container">
  <ng-progress></ng-progress>
<h1>My Goals</h1>
<hr>

   <blockquote class="text-center text-lg">
     <p> {{quote.quote}} </p>
     <footer><cite> {{quote.author}} </cite></footer>
   </blockquote>
 
     <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
 
      <div *ngFor="let goal of goals;let i = 'index'">
        
        <h4 id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
        <button class="btn btn-primary" (click)=goToUrl(goal.id)>View Details</button>
        <button class="btn btn-danger" (click) = 'deleteGoal(i)'>Delete Goal</button>
   </div>
</div>

<p *ngIf='goals.length > 5'>You have too many goals</p>