body{
    background-image: url("images.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    
}
#questions{
    text-align: left;
}
#questionsIncomplete{
color:black;
}
submit:hover{
    box-shadow:green;
    background:greenyellow;
    color:black;
}
h1{
    color: red;
}
.jumbotron{
    text-align: center;
    font-weight: bold;
}
.jumbotron div{
    float: left;
}
.jumbotron img{
    margin-right: 0em;
}
#results{
    border: 1px solid white;
    padding: 2.5em;
    margin-right: 10em;
    margin-top: 0.5em;
    font-size: 2em;   
    display: none; 
}